* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li,
p {
  margin: 0;
  padding: 0;
  color: #FFF;
}

body {
  background-color: #010100;
  overflow-x: hidden;
}
