.nav-transparent {
  position: fixed;
  background-color: transparent;
  z-index: 5;
  width: 100%;
  transition: background-color 0.6s ease-in-out;
}

.navbar-custom {
  background-color: #10151d;
}

.logo-img {
  width: 90px;
}